<div class="login-container">
    <mat-card>
        <mat-card-content>
            <div class="login-content">
                <div class="signin-content">
                    <h1>Sign in</h1>
                    <form [formGroup]="form">
                        <div class="form-container">
                            <div class="form-control">
                                <mat-form-field appearance="fill">
                                    <mat-icon matPrefix>person</mat-icon>
                                    <input matInput placeholder="Username" formControlName="username" >
                                </mat-form-field>
                            </div>
                            <div class="form-control">
                                <mat-form-field appearance="fill">
                                    <mat-icon matPrefix>lock</mat-icon>
                                    <input matInput placeholder="Password" type="password" formControlName="password" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-controller">
                            <button mat-flat-button class="btn-signin" (click)="onLogin()">Sign In</button>
                        </div>
                    </form>
                </div>
                <div class="image-container">
                    <div class="image-content">
                        <img src="images/login/10030731.jpg" alt="https://www.freepik.com/author/pikisuperstar"
                            class="image-design" />
                        <div class="info">
                            Designed by <a href="https://www.freepik.com/author/pikisuperstar"
                                target="_blank">Freepik</a>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>