/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-primary {
  color: white !important;
  background-color: #00a8ff !important;
}

.btn-success {
  color: white !important;
  background-color: #4cd137 !important;
}

.btn {
  border-radius: 10px !important;
}

.row {
  display: flex !important;
}

.gap-1 {
  gap: 10px;
}

.edit-snackbar {
  --mat-sys-inverse-surface: #f1c40f;
  --mat-sys-inverse-on-surface: #222f3e;
  --mat-sys-inverse-primary: #222f3e;
}

.delete-snackbar {
  --mat-sys-inverse-surface: #eb2f06;
  --mat-sys-inverse-on-surface: #ffffff;
  --mat-sys-inverse-primary: #ffffff;
}
