mat-card mat-card-content .form-control {
  display: flex;
  flex-flow: column;
  gap: 10px;
  width: 300px;
  margin-top: 10px;
}
mat-card mat-card-content {
  padding-top: 1rem;
}

mat-card mat-card-content .form-control .required {
  color: red;
}

mat-card mat-card-content mat-error {
  padding: 0;
}
/* .mat-mdc-form-field-error-wrapper .mat-mdc-form-field-error{
    background-color: red !important;
  } */
mdc-button.btn-primary {
  color: white;
  background-color: #00a8ff;
}

mdc-button.btn-success {
  color: white;
  background-color: #4cd137;
}

mdc-button.btn {
  border-radius: 10px;
}

.mat-mdc-option[aria-disabled=true].contains-mat-select-search{
  background-color: white;
}

.gap-1 {
  display: flex;
  gap: 10px;
}